<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

	<div th:fragment="navigation-menu-peliculas">
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-tabs">
						<li th:if="${linkSelected == 'cartelera'}" class="nav-item"><a class="nav-link active" th:href="@{/peliculas/cartelera}">Cartelera</a>
						</li>
						<li th:unless="${linkSelected == 'cartelera'}" class="nav-item"><a class="nav-link" th:href="@{/peliculas/cartelera}">Cartelera</a>
						</li>
						<li th:if="${linkSelected == 'annadir'}" class="nav-item"><a class="nav-link active" th:href="@{/peliculas/annadir}">Añadir pelicula</a>
						</li>
						<li th:unless="${linkSelected == 'annadir'}" class="nav-item"><a class="nav-link" th:href="@{/peliculas/annadir}">Añadir pelicula</a>
						</li>
						<li th:if="${linkSelected == 'annadirSesion'}" class="nav-item"><a class="nav-link active" th:href="@{/peliculas/annadir/sesion}">Añadir sesion</a>
						</li>
						<li th:unless="${linkSelected == 'annadirSesion'}" class="nav-item"><a class="nav-link" th:href="@{/peliculas/annadir/sesion}">Añadir sesion</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</body>
</html>