<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:include="componentes/head :: head"></th:block>
</head>
<body>

<header th:replace="componentes/header :: header"></header>

<div th:replace="componentes/peliculas/navigation-menu :: navigation-menu-peliculas"></div>

<div th:if="${linkSelected == 'cartelera'}">
	<div th:replace="componentes/peliculas/cartelera :: navigation-menu-peliculas-cartelera"></div>
</div>
<div th:if="${linkSelected == 'annadir'}">
	<div th:replace="componentes/peliculas/annadir-pelicula :: navigation-menu-peliculas-annadir-pelicula"></div>
</div>
<div th:if="${linkSelected == 'annadirSesion'}">
	<div th:replace="componentes/peliculas/annadir-sesion :: navigation-menu-peliculas-annadir-sesion"></div>
</div>

	
<footer th:replace="componentes/footer :: footer"></footer>

</body>
</html>